* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-attachment: fixed;
  background-image: url("../img/background.jpg");
  font-family: 'Fira Code', monospace;
  text-align: center;
}

.nav-link {
  font-weight: bolder;
}

.section-header {
  font-size: xx-large;
  font-weight: bolder;
  min-height: 80px;
  width: 100%;
  color: black;
  background-color: white;
  margin-bottom: 0;
}

.section-paragraph {
  margin-top: 10px;
  font-size: x-large;
}

.profile {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  height: 100vh;
}

#typeWriterText {
  width: auto;
  background-color: black;
  font-size: xx-large;
  color: white;
}

#portrait {
  border-radius: 50%;
  border: 10px white solid;
  width: 15%;
  margin-bottom: 5%;
}

#projects {
  width: 100%;
  height: auto;
}

#about {
  height: 110vh;
}

#about__colored-col {
  background-color: white;
  height: 100%;
}

#about__row {
  height: 100%;
}

.about__image {
  height: 52.5vh;
}

#about__grid {
  grid-template-columns: 1fr 1fr;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-gap: 5vh;
  justify-items: center;
}

#contact {
  height: 100vh;
}

#contact__row {
  height: 50%;
}

#contact__colored-col {
  background-color: white;
  height: 100%;
  padding: 10px;
}

#contact__noncolored-col {
  height: 100%;
  padding-top: 150px;
}

.social-media-text {
  color: black;
}

#contactTypeWriter {
  width: auto;
  background-color: black;
  font-size: xx-large;
  color: white;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid*/
.grid__item-image {
  width: 100%;
}

.project_container {
    background-color: white;
}

.project_container h2 {
  min-height: 80px;
  height: auto;
  overflow-y: hidden;
}


.spacer {
  height: 56px;
}

@media all and (max-width: 1280px) {
  #profile {
    margin-top: 25vh;
  }

  #portrait {
    border: 10px white solid;
    width: 60%;
    margin-bottom: 5%;
  }

  #contact {
    height: auto;
    margin-bottom: 45vh;
  }
}
