* {
  box-sizing: border-box;
}

body {
  background-attachment: fixed;

  background-image: url("../img/background.jpg");
  font-family: 'Fira Code', monospace;
  text-align: center;
}
.nav-link {
  font-weight: bolder;
}
.section-header {
  font-size: xx-large;
  font-weight: bolder;
}
.section-paragraph {
  margin-top: 10px;
  font-size: x-large;
}
.profile {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  height: 100vh;
}
#typeWriterText {
  width: auto;
  background-color: black;
  font-size: xx-large;
  color: white;
}
#portrait {
  border-radius: 50%;
  width: 15%;
  margin-bottom: 5%;
}
#projects {
  width: 100%;
  height: auto;
  background-color: white;
  margin-bottom: 50px;
}
#about {
  height: 110vh;
  margin-bottom: 50px;
}
#about__colored-col {
  background-color: white;
  height: 100%;
}
#about__row {
  height: 100%;
}
.about__image {
  height: 52.5vh;
}
#about__grid {
  grid-template-columns: 1fr 1fr;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-gap: 5vh;
  justify-items: center;
}
#contact {
  height: 100vh;
  margin-bottom: 50px;
}
#contact__row {
  height: 50%;
}
#contact__colored-col {
  background-color: white;
  height: 100%;
  padding: 10px;
}
#contact__noncolored-col {
  height: 100%;
  padding-top: 150px;
}
.page-footer {
  width: 100%;
 justify-content: center;
}
.social-media-text {
  color: black;
}
.col {
  padding: 0px;
}
.row {
  margin: 0px;
}
#contactTypeWriter {
  width: auto;
  background-color: black;
  font-size: xx-large;
  color: white;
}
/* Grid fallback*/

.grid__item {
  display: inline-block;
  width: 33%;
}
.grid__item h2 {
  margin-bottom: 5px;
}
.grid__header {
  padding: 10px;
}
.grid__item-image {
  width: 100%;
}
/* Styling CSS grid*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 10px;
}
.grid__item {
  background-color: lightgray;
  padding: 10px;
  width: auto;
}

@media all and (max-width:500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
    }
    h1 {
      font-size: var(--med-font_size);
    }
}

